<% include ../partials/header %>
    <!-- This will show the blog -->
    <!-- Note that container-fluid fills the whole background while 'container' leavs some margein on the sides -->
    <div class="show-page-container">    
        <a class="back-button" href="/blogs">BACK</a>
        <div class="show-page-inner-container">
            <div id="blog-header">
                <h1 style="text-align:center;"><%=blog.title%></h1>
            </div>
            <div class="image-container">
                <img class="blog-image" src="<%=blog.image%>" alt="">
            </div>
            <div class="content-container">
                <p><%=blog.date.toDateString()%></p>
                <p><%-blog.body%></p>
            </div>
            
            <div class="comments-container">
                <div class="post-comment-button-container">
                    <div class="edit-delete-buttons-container">
                        <% if(currentUser){ %>
                        <a class="btn btn-primary btn-sm blog-post-add-comment" href="/blogs/<%=blog._id%>/blogComments/new">ADD
                            COMMENT</a>
                        <% }; %>
                        <% if(currentUser && blog.author.id.equals(currentUser._id)){ %>
                        <a class="comments-delete-button" href="/blogs/<%=blog._id%>/edit">EDIT BLOG</a>
                        <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                            <input type="submit" class="comments-delete-button" value="DELETE">
                        </form>
                        <% }; %>
                    </div>
                </div>
                <h5>COMMENTS</h5>
                <%blog.comments.forEach(function(comment){%>
                    <div class="comments-container">
                        <div class="comment-row">
                            <div class="comment-column-left">
                                <p><%=comment.author.username%></p>
                            </div>
                            <div class="comment-column-right">
                                <p><%=comment.date.toDateString()%></p>
                                <p><%=comment.comment%></p>

                                <!-- EDIT and DELETE BUTTONS IF USER OWNS COMMENT -->
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <div class="comments-edit-delete-button-container">
                                        <a class="comments-edit-button" href="/blogs/<%=blog._id%>/blogComments/<%=comment._id%>/edit" style="background-color: rgb(117, 123, 130);">EDIT</a>
                                        <form action="/blogs/<%=blog._id%>/blogComments/<%=comment._id%>?_method=DELETE" method="POST">
                                            <!-- method overide treats as a delete rout -->
                                            <input type="submit" value="DELETE" class="comments-delete-button">
                                        </form>                
                                    </div>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                <% }); %>
                </div> 
        </div>
    </div>
<% include ../partials/footer %>