<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/plants/keys/family_keys.css">
</head>
<body>
    <div id="plant-family-key-container">
        <div id="family-key-title"><%=key_obj['name']%></div>
        <div id="key-choice-container">
            <div class="key-choice">
                <%=key_obj['key'][key_val]['a']['sentence']%> 
                    <% if(parseInt(key_obj['key'][key_val]['a']['result'])){ %>
                        <!-- If integer then this leads to another set of binomial sentences -->
                        <a href="?key_val=<%= key_obj['key'][key_val]['a']['result'] %>"> <span class="next-button">Next</span></a>
                    <% }else{ %>
                        <!-- If its a word, then load the family page associated -->
                        <a href="../families/<%= key_obj['key'][key_val]['a']['result'] %>"><span class="next-button"><%= key_obj['key'][key_val]['a']['result'] %></span></a>
                    <% } %>
                </div>

            <div class="key-choice">
                <%=key_obj['key'][key_val]['b']['sentence']%> 
                <% if(parseInt(key_obj['key'][key_val]['b']['result'])){ %>
                    <a href="?key_val=<%=key_obj['key'][key_val]['b']['result'] %>">
                        <span class="next-button">Next</span></a></div>
                <% }else{ %>
                    <!-- If its a word then its the family name -->
                    <a href="../families/<%= key_obj['key'][key_val]['b']['result'] %>">
                        <span class="next-button"><%= key_obj['key'][key_val]['b']['result'] %></span></a>
                <% } %>
            </div>
        </div>
    </div>
    
</body>
</html>